@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Work+Sans:wght@300&display=swap');

.App {
    min-height: 100vh;
    display: flex;
    background-color:  rgb(143, 195, 223);
    background-position: center;
    background-size: cover;
}